.best-sellers-page > h1 {
    position: relative;
    top: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 15px rgba(255,0,0,1);
}

.best-sellers-container {
    position: relative;
    top:40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}