/* 
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}
.product-card {
    padding: 10px;
    margin: 10px;
    outline: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.product-card-padding {
    display:grid
}

@media screen and (max-width: 400px) {
    .product-card-padding {
        width: 100%;
    }

}
@media screen and (min-width: 400px) and (max-width: 800px) {
    .product-card-padding {
        width: 50%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .product-card-padding {
        width: 33%;
    }
}
@media screen and (min-width: 1200px) {
    .product-card-padding {
        width: 25%;
    }
} */



.product-container{
    width: 80%;
    margin: 0 auto;
    position:absolute;
    top:60px;

    display: grid;
    grid-auto-columns: max-content;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    outline: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
    color: black;
    background-color: rgba(255, 255, 255, .4);
    transition:1s
}

.product-card:hover {
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 0.7);
    transition:.5s;
}

.product-details {
    list-style-type:none;
}





@media screen and (max-width: 400px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
        width:100%
    }

}
@media screen and (min-width: 400px) and (max-width: 800px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        width:100%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
        width: 100%
    }
    
}
@media screen and (min-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr)
    }
}