*{

}


.cart-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.item-card{
    background-color: aqua;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    height: 100px;
}