*{

}


.cart-item-container {
  display: flex;
  flex-direction: column; 
}

.cart-item-container{
    border: 1px;
    padding: 10px;
    margin-bottom: 10px;
}


.item-card{
    background-color: aqua;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-div {
  height: 100px;
  margin-top: 0;
}

.cart-item-div p {
    margin-bottom: 0;
  }