.detailed-page-container > h2, .detailed-page-container > p {
    transition: 1s;
    width: fit-content;
    margin: auto;
}

.detailed-page-container > h2:hover, .detailed-page-container > p:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1);    
    transition: .3s;
}


.category-button-container {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
}

.categories-button.glow-squish-button {
    width: auto;
    min-width: 150px;
    height: auto;
    margin: 10px;
    float: none;
    cursor:default;
    background-color: rgba(255,255,255,.4);
    color: rgb(100,255,255)
}

.categories-button.glow-squish-button:active{
    
    background-color: rgba(255,255,255,.2);
  cursor:default;
  border-radius: 10px;
  box-shadow: none;
  
}

.categories-button.glow-squish-button:hover {
    background-color: rgba(255,255,255,.3);
  
  transition: .4s;
}

.shop-now.glow-squish-button{
    width: 20vh;
    margin:auto;
    float:none;
    box-shadow: 0 0 10px 1px rgba(255, 0, 255, 0.7);
}

.shop-now.glow-squish-button:hover{
      transition: .3s;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
}

.store-image-container {
    margin:auto;
    height: fit-content;
    width: fit-content;
    max-width: 60vw;
    border-radius: 30px;
    overflow:hidden;
    /* filter */
    filter: grayscale(50%);
}

.store-image-container:hover {
    
    filter: grayscale(0%);
}

.store-image {
    
    transition:.3s;
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    translate: -50% 0%;
    position: relative;
    left: 50%;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

.store-image:hover{
    transform: scale(1.1);
    transition:.3s;
}