/* .detailed-page {
    padding: 0 1vw;
} */

.detailed-page > h2, .detailed-page > p {
    transition: 1s;
    width: fit-content;
    margin: auto;
    color: white;
}
.detailed-page > p {
    max-width: 60vw;
}

.detailed-page > h2:hover, .detailed-page > p:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1);    
    transition: .3s;
}



.store-image-container {
    margin:auto;
    height: fit-content;
    width: fit-content;
    max-width: 60vw;
    border-radius: 30px;
    overflow:hidden;
    /* filter */
    filter: grayscale(50%);
}

.store-image-container:hover {
    
    filter: grayscale(0%);
}

.store-image {
    
    transition:.3s;
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    translate: -50% 0%;
    position: relative;
    left: 50%;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

.store-image:hover{
    transform: scale(1.1);
    transition:.3s;
}