.home-page-container {
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    opacity: 1
}
.home-page-container h1 a {
    font-size: 2.5rem;
    margin: 20px;
    transition: .8s
}
.home-page-container h1 a:hover {
    color: lightblue;
    cursor: pointer;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(255,255,255,.3);
    transition: .3s
}
.home-page-container h1 a:active {
    color: darkblue;
    text-shadow: 0 0 10px white;
    transition: .2s
}
/* pulse loading */
.loading {
    width: fit-content;
    margin: auto;
    font-size: 2rem;
    animation: pulse .2s ease infinite;
    color:white;
    font-weight: 400;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgba(255,0,0,1);
    }
    50% {
        text-shadow: 0 0 10px rgba(255,255,255,1);
    }
    100% {
        text-shadow: 0 0 10px rgba(255,255,255,0);
    }
}