* {
    /* outline: black solid 1px; */
    padding: 0;
    margin: 0;
}


header{
    padding: 0
}

.navbar{
    width: 100%;
    height: 40px;
    top: 0px;
    position: fixed;
    z-index: 999;
    
}

nav > ul {
    background-color: rgba(120,100,255,0.3);
    padding: 0;
    display:flex;
    justify-content: space-around;
    
    backdrop-filter: blur(40px);
}

.nav-links{
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    width: 100%;
    padding: .5em 1em
}

.navbar li{
    display:flex;
    justify-content: center;
    background-color: transparent;
    list-style-type: none;
    transition: .5s;
}

/* unfortunately color has to be listed seperately in a tag contained in li */
a{
    color: rgb(220,220,255);
    background-color: transparent   
}

a:hover{
    color: white;
    text-shadow: 0 0 12px rgba(255,255,255,1);
    transition: 0.2s;
}



.nav-dropdown-menu{
    background-color: rgba(120,100,255,0.3);
    
    height: auto;
    display: flex;
    position: absolute;
    top: 38px;
    flex-direction: column; 
    list-style-type:none;
}


 #about-us{
    display: flex;
    flex-direction: column;
}


.displayed {
    opacity: 1;
    transition: 0.5s ease;
}

.hidden {
    opacity: 0;
    height: 0;
    transition: 0.5s ease;
}