
@property --deg1 {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --deg2 {
  syntax: '<angle>';
  initial-value: 120deg;
  inherits: false;
}

@property --deg3 {
  syntax: '<angle>';
  initial-value: 240deg;
  inherits: false;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/exportNoto/NotoSans-Regular.eot');
  src: url('../fonts/exportNoto/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/exportNoto/NotoSans-Regular.woff2') format('woff2'),
      url('../fonts/exportNoto/NotoSans-Regular.woff') format('woff'),
      url('../fonts/exportNoto/NotoSans-Regular.ttf') format('truetype'),
      url('../fonts/exportNoto/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  background: linear-gradient(var(--deg1), rgba(0,0,0,.8), rgba(255,0,0,0) 100%),
            linear-gradient(var(--deg2), rgba(20,10,0,.8), rgba(0,255,0,0) 100%),
            linear-gradient(var(--deg3), rgba(10,10,10,.8), rgba(0,0,255,0) 100%);
            animation: background-anim 10s linear infinite;
            background-attachment: fixed;
           
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: Noto Sans;
          
}

.glow-squish-button {
  border:1px solid transparent;
  margin: 10px 0 0 0;
  float: right;
  align-self: flex-end;
  width: 50%;
  border-radius: 40px;
  font-size: 2em;
  padding : 5px 5px;
  color: blue;
  background-color: rgb(200,200,200);
  transition: .5s;
}

.glow-squish-button:hover {
  transition: .1s;
  border-radius: 20px;
  background-color: rgb(100,200,200);
  box-shadow: 0 0 10px 1px rgba(50, 50, 50, 0.7);
}

.glow-squish-button:active {
  border-radius: 10px;
  background-color: rgb(120,100,255);
  box-shadow: 0 0 10px 6px rgba(255, 0, 255, 0.7);
}

.glow-squish-button.how-many-of-product-in-cart:active {
  transition: .1s;
  border-radius: 20px;
  background-color: rgb(100,200,200);
  box-shadow: 0 0 10px 1px rgba(50, 50, 50, 0.7);
}

.button-test-div {
  display: flex;
  position:fixed;
  top : 40px;
}
.glow-squish-button.dev-button {
  font-size: x-small;
  width: fit-content;
  margin:0;
  float: none;

}

@keyframes background-anim {
  from {    
  --deg1: 0deg;
  --deg2: 120deg;
  --deg3: 240deg;    
  }
  to {    
  --deg1: 360deg;
  --deg2: 480deg;
  --deg3: 600deg;    
  }
}


/* @property --deg1 {
  syntax: '<number>';
  initial-value: 255;
  inherits: false;
}

@property --deg2 {
  syntax: '<number>';
  initial-value: 150;
  inherits: false;
}

@property --deg3 {
  syntax: '<number>';
  initial-value: 150;
  inherits: false;
}



html {
  background: linear-gradient(0deg, rgba(var(--col1),var(--col2),var(--col3),.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(120deg, rgba(var(--col2),var(--col3),var(--col1),.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(240deg, rgba(var(--col3),var(--col1),var(--col2),.8), rgba(0,0,255,0) 70.71%);
            animation: background-anim 5s linear infinite;
            background-attachment: fixed;
  transition: all 1s; 
}


@keyframes background-anim {
  0% {    
  --col1: 255;
  --col2: 150;
  --col3: 150;   
  }
  50% {    
  --col1: 150;
  --col2: 255;
  --col3: 150;    
  }
  100% {    
  --col1: 150;
  --col2: 150;
  --col3: 255;    
  }
  
} */